{% extends "layout.html" %}
{% block body %}
<dl>
    <dt>Title:
    <dd>
    {% for span in title_spans %}
        <span style="background-color:{{ span.color }};">
            {{ span.text }}
        </span>
    {% endfor %}

    <dt>Description:
    <dd>
    {% for span in description_spans %}
        <span style="background-color:{{ span.color }};">
            {{ span.text }}
        </span>
    {% endfor %}

    <dt>Attribute Query:
    <dd>
        {{ attribute }}
    <dt>Predicted Values:
    <dd>
        <ul>
            {% for prediction in predictions %}
            <li>{{ prediction.value }} - {{ prediction.prob }}
            {% endfor %}
        </ul>
</dl>
{% endblock %}
